<div class="container">
  <h1>{{ title }}</h1>

  <table>
    <thead>
    <tr>
      <th><button (click)="sortName()">Название фильма </button></th>
      <th><button (click)="sortGenre1()">Жанр первый </button></th>
      <th><button (click)="sortGenre2()">Жанр второй </button></th>
      <th><button (click)="sortYear()">Год  выпуска</button></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let el of elements; let i = index">
      <td>{{el.name}}</td>
      <td>{{el.genre1}}</td>
      <td>{{el.genre2}}</td>
      <td>{{el.year}}</td>
    </tr>
    </tbody>
  </table>
</div>

